################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChainOfResponsibilityPattern/obj
/.vs
/ChainOfResponsibilityPattern/bin/Debug/netcoreapp3.1
